<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<h2>Qu'est ce qu'un cabinet de curiosités&nbsp;?</h2>
<p>Les cabinets de curiosités désignent au XVIe et XVIIe siècles des lieux dans lesquels on collectionne et présente une multitude d'objet rares ou étranges représentant les trois règnes: le monde animal, végétal et minéral, en plus de réalisations humaines.
</p>
